* {
    box-sizing: border-box;

    font-size: .9rem;
    font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
    ;

    a {
        text-decoration: none;
        color: white;
    }

    hr {
        margin-top: 20px;
    }
}

.grid {
    display: grid;
    place-content: center;
    height: 95vh;
    color: white;

    .main-con {
        background-color: #007cc3;
        width: 500px;
        min-height: 256px;
        padding: 30px;
        border-radius: 5px;


        .content {
            width: 400px;
            margin: auto;
            height: 152;
            padding: 40px;

            div {
                display: flex;
                margin-bottom: 10px;
                width: 100%;
                justify-content: space-between;
            }

            :is(input[type='text'], input[type='password']) {
                border-radius: 5px;
                margin-left: 5px;
                width: 80%;
                border: none;
            }

            input[type='password'] {
                margin-left: 6px;
            }

            .check {
                width: 250px;
                margin-left: 65px;
                display: flex;
                justify-content: space-between;

                input[type='submit'] {
                    color: white;
                    background: none;
                    outline: none;
                    width: 50px;
                    height: 20px;
                    padding: 2px 8px;

                    border: 1px solid white;
                    border-radius: 2.5px;
                    font-size: smaller;
                    cursor: pointer;

                    &:hover {
                        background-color: #3f9cd2;
                        color: #333;
                    }
                }
            }

            .version {
                select {
                    width: 150px;
                    margin-right: 10px;
                }

                a {
                    font-size: 11px;
                }
            }
        }

    }

    .img-con {
        display: block;

        height: 40px;
        background-image: url(LoginBanner_white.png);
        background-repeat: no-repeat;
        margin-bottom: 0px;
    }


}

#whtths {
    display: none;
    width: 300px;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    border: 1px solid orange;
    color: black;
    
}

.dis{
    display: block !important;
}
